.prodImg {
	height:2cm;
    width:2cm;
    float:left;
    text-align:center;
}
.prodBody {
	height:5cm;
    width:17cm;
    padding-left:3cm;
    padding-right:3cm;
    float:top;    
    text-align:left;
    word-wrap: break-word;
}